@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

body {
  font-family: 'Odibee Sans', sans-serif;
  background: #3e5d7c;

}

header {
  background: #86a6c5;
  text-align: center;
  padding: 35px;
}

section {
  color: white;
}

.scoreboard {
  text-align: center;
  margin: 25px auto;
  width: 200px;
  font-size: 4em;
  padding: 10px 20px;
  position: relative;
}

.scoreboard > span {
  padding: 0 15px;
  margin-bottom: 25px;
}
.badge {
  font-size: 1rem;
  padding: 10px;
}

#player-label {
  position: absolute;
  left: -30px;
  top: 40px;
}

#computer-label {
  position: absolute;
  right: -38px;
  top: 40px;
}

.results {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  min-height: 160px;
}

.choices {
  text-align: center;
  /* margin-top: 25px; */
}

.choice {
  font-size: 5em;
  transition: all 0.3s;
}

.choice:hover {
  background: white;
  color: #424040;
  cursor: pointer;
}
#action {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

#action-message {
  text-align: center;
  font-size: 3em;
  margin: 25px auto 4rem auto;
  max-width: 500px;
}

#reset {
  margin: 0 auto 4rem auto;
  max-width: 250px;
}

.bg-success,
.bg-secondary,
.bg-danger {
  transition: all 0.3s;
}

.d-none {
  transition: all 0.5s ease-out;
}